<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>

<body>
    <section class="hero is-primary" style="background-color: #318f3c">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    BD Weather
                </h1>
            </div>
        </div>
    </section>
        <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{bd_weather.icon}}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{bd_weather.name}}</span>
                                        <br>
                                        <span class="subtitle">{{bd_weather.temperature}}° C</span>
                                        <br> {{bd_weather.description}}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST">
                    <h1 class="title">
                        Select here
                    </h1>
                        <div class="field has-addons">
                            <div class="control is-expanded">
                            <form action = "{% url 'index' %}" method = "post">
                            {% csrf_token %}
                                <select name="city_id" style="font-family : monospace; font-size : 20pt">
                                    {% for city in cities %}
                                    <option value="{{ city.city_id }}">
                                    {{ city.name }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </form>
                            </div>
                            <div class="control">
                                <button class="button is-info">
                                    Search
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    {% for weather in weather_data %}
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{weather.icon}}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{weather.name}}</span>
                                        <br>
                                        <span class="subtitle">{{weather.temperature}}° C</span>
                                        <br> {{weather.description}}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <footer class="footer" style="background-color: #318f3c">
        <h1 style="text-align: center; font-size: 30px; font-style: italic; color: azure">
            Developed by Md. Mazharul Islam Antor <br>facebook.com/AntorMazharul<br>instagram.com/mazharul_antor<br>twitter.com/mazharul_antor
        </h1>
    </footer>
</body>

</html>